<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>TechDocsManager</title>
		<link th:href="@{/styles/style_00.css}" rel="stylesheet" />	
	</head>
	<body>
		
		<div align="center">
		
			
			<table style="width:100%; margin-bottom: 30px">
				<tr>
					<td width="15%" height="100px" rowspan="2">
						<form style="padding-left: 20px">
							<p>Роль: <span th:text="${role}"></span></p>
							<p>Пользователь: <span th:text="${userName}"></span></p>
							<p><a href="/logout">Сменить пользователя</a></p>
						</form>
					</td>
					<td height="100px" align="center">
						<nav class="main_menu">
							<span class="main_menu"><a href="/specification-element" class="top_menu">Элементы спецификации</a>&nbsp;&nbsp;&nbsp;</span>
							<span class="main_menu"><a href="/raw" class="top_menu">Заготовки</a>&nbsp;&nbsp;&nbsp;</span>
							<span class="main_menu"><a href="/route" class="top_menu">Маршруты</a>&nbsp;&nbsp;&nbsp;</span>
							<span class="main_menu"><a href="/product" class="top_menu">Продукция</a>&nbsp;&nbsp;&nbsp;</span>
							<span class="main_menu"><b><i>Планирование</i></b>&nbsp;&nbsp;&nbsp;</span>
						</nav>
					</td>
					<td width="15%" height="100px" rowspan="2"></td>
				</tr>
				<tr>
					<td align="center">
						<p class="top_menu">
							<span><a href="/planning" class="top_menu">Планирование</a> - </span>
							<span><b><i>Создание списка</i></b></span>
						</p>
					</td>
				</tr>
			</table>
			<br><br>
			<h2 class="redirect_msg" th:text="${msg}"></h2>
			<br>
			<form th:method="'POST'" enctype="multipart/form-data">
				<table style="width:60%">
					<thead>
						<tr>
							<th th:text="'Список продукции'" colspan="5"/>
							<th>
								<button th:name="'btnClear'">Отчистить</button>
							</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:if="${#maps.size(products) > 0}">
							<tr th:each="product, iterator : ${products}" th:with="count=${product['value']}, item=${product['key']}">
								<td th:text="${iterator.count}" width="5%"/>
								<td th:text="${item.type + ' ' + item.number}"/>
								<td th:text="${count}"/>
								<td>
									<input type="number" min="1" th:value="1" th:name="${'newCount_' + product['key'].id}"/>
								</td>
								<td align="center">
									<button th:name="'btnAcceptNewCount'" th:value="${product['key'].id}">Изменить</button>	
								</td>
								<td align="center">
									<button th:name="'btnDelete'" th:value="${product['key'].id}">Удалить</button>
								</td>
							</tr>
						</th:block>
						
						<tr>
							<td th:text="'-'" />
							<td>
								<select th:name="'id'">
									<option th:each="item : ${items}" th:text="${item.type + ' ' + item.number}" th:value="${item.id}"/>
								</select>	
							</td>
							<td colspan="3">
								<input type="number" min="1" th:value="1" th:name="'count'" />
							</td>
							<td align="center">
								<button th:name="'btnAdd'">Добавить</button>
							</td>
						</tr>
						<thead>
							<tr>
								
								<th colspan="5">
									<input type="file" name="file" id="file" accept=".json" />
									<button th:name="'btnUpload'">Загрузить</button>
								</th>
								<th th:text="'Загрузить из внешнего файла'" />
							</tr>
							<tr>
								
								<th colspan="5">
									<button th:name="'btnSave'">Сохранить</button>
								</th>
								<th th:text="'Сохранить во внешний файл'" />
							</tr>
						</thead>
					</tbody>
				</table>
				<br><br>
				<button th:name="'btnNext'" style="width:20%">Далее</button>
			</form>
			
			<br><br>
		</div>
	</body>
</html>
