<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>TechDocsManager</title>
		<link th:href="@{/styles/style_00.css}" rel="stylesheet" />	
	</head>
	<body>
		
		<div align="center">
		
			
			<table style="width:100%; margin-bottom: 30px">
				<tr>
					<td width="15%" height="100px" rowspan="2">
						<form style="padding-left: 20px">
							<p>Роль: <span>Контруктор</span></p>
							<p><span>Климчук Ю.В.</span></p>
							<p><button>Выйти</button></p>
						</form>
					</td>
					<td height="100px" align="center">
						<h2>ГЛАВНОЕ МЕНЮ</h2>
						<h4>(в разработке)</h4>
					</td>
					<td width="15%" height="100px" rowspan="2"></td>
				</tr>
				<tr>
					<td align="center">
						<p class="top_menu">
							<span><a href="../../" class="top_menu">Планирование</a> - </span>
							<span><a href="../" class="top_menu">Создание списка</a> - </span>
							<span><a href="./" class="top_menu">Выбор комплектации</a> - </span>
							<span><b><i>Общая спецификация</i></b></span>
						</p>
					</td>
				</tr>
			</table>
			<br><br>
			<h2 class="redirect_msg" th:text="${msg}"></h2>
			<br>
				
			<table style="width:50%">
				<thead>
					<tr>
						<th colspan="4" th:text="'СПИСОК ПРОДУКЦИИ'" />
					</tr>
					<tr>
						<th th:text="'№'">
						<th th:text="'Обозначение'">
						<th th:text="'Кол.'">
						<th th:text="'Сборочный чертеж'">
					</tr>
				</thead>
				<tbody>
					<tr th:each="product, iterator : ${products}" th:with="count=${product['value']}, item=${product['key']}">
						<td th:text="${iterator.count}" align="center" width="5%" />
						<td th:text="${item.type + ' ' + item.number}" width="25%"/>
						<td th:text="${count}" align="center" width="5%" />
						<td width="25%">
							<span th:if="${item.selectedAssembly == null}" th:text="'N/A'"></span>
							<span th:unless="${item.selectedAssembly == null}" th:text="${item.selectedAssembly.number + ' ' + item.selectedAssembly.name}"></span>
						</td>
					</tr>
				</tbody>
			</table>
			<br><br>
			<form th:method="'POST'">
					<button th:name="'btnPdf'" th:disabled="true" style="width:10%; height:25px">Скачать PDF</button>
					&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
					<button th:name="'btnBlank'" style="width:10%; height:25px">Выбор заготовок</button>
			</form>
			<br><br>
			<table style="width:50%">
				<thead>
					<tr>
						<th th:text="'ОБЩАЯ СПЕЦИФИКАЦИЯ'" colspan="4"/>
					</tr>
				</thead>
				<thead>
					<tr>
						<th th:text="'Детали'" colspan="4"/>
					</tr>
					<tr>
						<th th:text="'№'" />
						<th th:text="'Обозначение'" />
						<th th:text="'Кол.'" />
					</tr>
				</thead>
				<tbody>
					<tr th:each="item, iterator : ${parts}">
						<td th:text="${iterator.count}" />
						<td th:text="${item['key'].label}" />
						<td th:text="${item['value'].get(0)}" />
					</tr>
				</tbody>
				<thead>
					<tr>
						<th th:text="'Стандартные изделия'" colspan="4"/>
					</tr>
					<tr>
						<th th:text="'№'" />
						<th th:text="'Обозначение'" />
						<th th:text="'Кол.'" />
					</tr>
				</thead>
				<tbody>
					<tr th:each="item, iterator : ${standarts}">
						<td th:text="${iterator.count}" />
						<td th:text="${item['key'].label}" />
						<td th:text="${item['value'].get(0)}" />
					</tr>
				</tbody>
				<thead>
					<tr>
						<th th:text="'Взаимозаменяемые комплектующие'" colspan="4"/>
					</tr>
					<tr>
						<th th:text="'№'" />
						<th th:text="'Обозначение'" />
						<th th:text="'Кол.'" />
					</tr>
				</thead>
				<tbody>
					<tr th:each="item, iterator : ${vzks}">
						<td th:text="${iterator.count}" />
						<td th:text="${item['key'].label}" />
						<td th:text="${item['value'].get(0)}" />
					</tr>
				</tbody>
				<thead>
					<tr>
						<th th:text="'Покупные изделия'" colspan="4"/>
					</tr>
					<tr>
						<th th:text="'№'" />
						<th th:text="'Обозначение'" />
						<th th:text="'Кол.'" />
					</tr>
				</thead>
				<tbody>
					<tr th:each="item, iterator : ${buys}">
						<td th:text="${iterator.count}" />
						<td th:text="${item['key'].label}" />
						<td th:text="${item['value'].get(0)}" />
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
