<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>TechDocsManager</title>
		<link th:href="@{/styles/style_00.css}" rel="stylesheet" />	
	</head>
	<body>
		
		<div align="center">
		
			<table style="width:100%; margin-bottom: 30px">
				<tr>
					<td width="15%" height="100px" rowspan="2">
						<form style="padding-left: 20px">
							<p>Роль: <span th:text="${role}"></span></p>
							<p>Пользователь: <span th:text="${userName}"></span></p>
							<p><a href="/logout">Сменить пользователя</a></p>
						</form>
					</td>
					<td height="100px" align="center">
						<nav class="main_menu">
							<span class="main_menu"><a href="/specification-element" class="top_menu">Элементы спецификации</a>&nbsp;&nbsp;&nbsp;</span>
							<span class="main_menu"><b><i>Заготовки</i></b>&nbsp;&nbsp;&nbsp;</span>
							<span class="main_menu"><a href="/route" class="top_menu">Маршруты</a>&nbsp;&nbsp;&nbsp;</span>
							<span class="main_menu"><a href="/product" class="top_menu">Продукция</a>&nbsp;&nbsp;&nbsp;</span>
							<span class="main_menu"><a href="/planning" class="top_menu">Планирование</a>&nbsp;&nbsp;&nbsp;</span>
						</nav>
					</td>
					<td width="15%" height="100px" rowspan="2"></td>
				</tr>
				<tr>
					<td align="center">
						<p class="top_menu">
							<span><a href="../../" class="top_menu">Элементы спецификации</a> - </span>
							<span><a href="../" class="top_menu">Тип материалов</a> - </span>
							<span><a href="../show-list" class="top_menu">Список для просмотра</a> - </span>  
							<span><b><i>Подробная информация</i></b></span>
						</p>
					</td>
				</tr>
			</table>
		
			<form th:method="'POST'">
				
				<table style="width:50%">
					<thead>
						<tr>
							<th colspan="2" th:text="'Первичные данные'" />
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="'ID'" width="20%"/>
							<td th:text="${dto.id}" />
						</tr>
						<tr>
							<td th:text="'Обозначение'" />
							<td th:text="${dto.number}" />
						</tr>					
					</tbody>
				</table>	
				
				
			</form>
		</div>
	</body>
</html>


<!-- 



 -->