<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>TechDocsManager</title>
		<link th:href="@{/styles/style_00.css}" rel="stylesheet" />	
	</head>
	<body>
	
		<div align="center">
			<table style="width:100%; margin-bottom: 30px">
				<tr>
					<td width="15%" height="100px" rowspan="2">
						<form style="padding-left: 20px">
							<p>Роль: <span>Контруктор</span></p>
							<p><span>Климчук Ю.В.</span></p>
							<p><button>Выйти</button></p>
						</form>
					</td>
					<td height="100px" align="center">
						<nav class="main_menu">
							<span class="main_menu"><a href="/specification-element" class="top_menu">Элементы спецификации</a>&nbsp;&nbsp;&nbsp;</span>
							<span class="main_menu"><a href="/raw" class="top_menu">Заготовки</a>&nbsp;&nbsp;&nbsp;</span>
							<span class="main_menu"><a href="/route" class="top_menu">Маршруты</a>&nbsp;&nbsp;&nbsp;</span>
							<span class="main_menu"><b><i>Продукция</i></b>&nbsp;&nbsp;&nbsp;</span>
							<span class="main_menu"><a href="/planning" class="top_menu">Планирование</a>&nbsp;&nbsp;&nbsp;</span>
						</nav>
					</td>
					<td width="15%" height="100px" rowspan="2"></td>
				</tr>
				<tr>
					<td align="center">
						<p class="top_menu">
							<span><a href="../../" class="top_menu">Продукция</a> - </span>
							<span><a href="../" class="top_menu">Продукция</a> - </span>  
							<span><a href="./" class="top_menu">Список для редактирования</a> - </span>  
							<span><b><i>Удаление элемента</i></b></span>
						</p>
					</td>
				</tr>
			</table>
			
			
			<form th:method="'POST'">
				
				<table>
					<tbody>
						<tr>
							<td th:text="ID" />
							<td th:text="${item.id}" />
						</tr>
						<tr>
							<td th:text="Обозначение" />
							<td th:text="${item.number}" />
						</tr>
						<tr>
							<td th:text="Наименование" />
							<td th:text="${item.type}" />
						</tr>
						<tr>
							<td align="center"><button th:name="'btnDelete'">Удалить</button></td>
							<td align="center"><button th:name="'btnCancel'">Отмена</button></td>
						</tr>
					</tbody>
				</table>
				
				
			</form>
		</div>
	</body>
</html>


<!-- 



 -->