<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>TechDocsManager</title>
		<link th:href="@{/styles/style_00.css}" rel="stylesheet" />	
	</head>
	<body>
		<div align="center">
		
			<table style="width:100%; margin-bottom: 30px">
				<tr>
					<td width="15%" height="100px" rowspan="2">
						<form style="padding-left: 20px">
							<p>Роль: <span th:text="${role}"></span></p>
							<p>Пользователь: <span th:text="${userName}"></span></p>
							<p><a href="/logout">Сменить пользователя</a></p>
						</form>
					</td>
					<td height="100px" align="center">
						<nav class="main_menu">
							<span class="main_menu"><a href="/specification-element" class="top_menu">Элементы спецификации</a>&nbsp;&nbsp;&nbsp;</span>
							<span class="main_menu"><a href="/raw" class="top_menu">Заготовки</a>&nbsp;&nbsp;&nbsp;</span>
							<span class="main_menu"><b><i>Маршруты</i></b>&nbsp;&nbsp;&nbsp;</span>
							<span class="main_menu"><a href="/product" class="top_menu">Продукция</a>&nbsp;&nbsp;&nbsp;</span>
							<span class="main_menu"><a href="/planning" class="top_menu">Планирование</a>&nbsp;&nbsp;&nbsp;</span>
						</nav>
					</td>
					<td width="15%" height="100px" rowspan="2"></td>
				</tr>
				<tr>
					<td align="center">
						<p class="top_menu">
							<span><a href="/route" class="top_menu">Маршруты</a> - </span>
							<span><a href="/route/edit-list" class="top_menu">Cписок для редактирования</a> - </span>
							<span><b><i>Добавление нового элемента</i></b></span>
						</p>
						<p class="top_menu">
							<span><a href="/route/edit-list/add-1" class="top_menu">Этап 1</a> - </span>
							<span><b><i>Этап 2</i></b></span>
						</p>
					</td>
				</tr>
			</table>
			<br><br>
			<h2 class="redirect_msg" th:text="${msg}"></h2>
			<br><br>		
			<form th:method="'POST'">
				<table style="width:50%">
					<thead>
						<tr>
							<th colspan="4" th:text="'Добавление заготовок'" />
						</tr>
					</thead>
					<tbody>
						<tr th:each="item, iterator : ${blankRates}">
							<td th:text="${iterator.count}" />
							<td th:text="${item['key'].sortament.type.number} + ' ' + ${item['key'].sortament.standart} 
											+ ' ' + ${item['key'].sortament.number} + ' - ' 
											+ ${item['key'].material.type.number} + ' ' 
											+ ${item['key'].material.number}" />
							<td th:text="${item['value']}" />
							<td>
								<button th:name="'btnDeleteBlankRate'" th:value="${item['key'].id}">Удалить</button>
							</td>
						</tr>
						<th:block>
							<tr>
								<td th:text="'-'"/>
								<td>
									<select th:name="'blankId'">
										<option 
											th:each="item, iterator : ${blanks}" 
											th:text="${item.sortament.type.number} + ' ' + ${item.sortament.standart} 
													+ ' ' + ${item.sortament.number} + ' - ' 
													+ ${item.material.type.number} + ' ' 
													+ ${item.material.number}" 
											th:value="${item.id}" />
									</select>	
								</td>
								<td>
									<input type="text" th:name="'blankRate'">
								</td>
								<td>
									<button th:name="'btnAddBlankRate'">Добавить</button>
								</td>
							</tr>
						</th:block>
						
						<tr>
							<td colspan="4">
								<button th:name="'btnNext'">Далее</button>
							</td>
						</tr>		
					</tbody>
				</table>
			</form>
		</div>	
	</body>
</html>