<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>TechDocsManager</title>
		<link th:href="@{/styles/style_00.css}" rel="stylesheet" />	
	</head>
	<body>
		<h2>Создание техпроцесса - Шаг 4 (Обзор вводимых данных)</h2>
		
		<form th:method="'POST'">
			
			<table>
				<thead>
					<tr>
						<th colspan="3" th:text="'Первичные данные'"/>
						<th>
							<button th:name="'btnEdit'" th:value="1">Редактировать</button>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="2" th:text="'Обозначение маршрута'" />
						<td colspan="2" th:text="${routeNumber}" />
					</tr>
					<tr>
						<td colspan="2" th:text="'Обозначение детали'" />
						<td colspan="2" th:text="${partDTO.number + ' ' + partDTO.name}" />
					</tr>
				</tbody>
				<thead>
					<tr>
						<th colspan="3" th:text="'Заготовки'"/>
						<th>
							<button th:name="'btnEdit'" th:value="2">Редактировать</button>	
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="'№'" />
						<td th:text="'Материал'" />
						<td th:text="'Сортамент'" />
						<td th:text="'Норма расхода'" />
					</tr>
					<th:block th:if="${#lists.size(blankRates) == 0}">
						<tr>
							<td colspan="4" th:text="'-'">
						</tr>
					</th:block>
					<th:block th:unless="${#lists.size(blankRates) == 0}" th:each="item, iterator : ${blankRates}">
						<tr>
							<td th:text="${iterator.count}">
							<td th:text="${item['key'].material.type.number + ' - ' + item['key'].material.number + ' - (' + item['key'].material.standart + ')'}">
							<td th:text="${item['key'].sortament.type.number + ' - ' + item['key'].sortament.number +  ' - (' + item['key'].sortament.standart + ')'}" />
							<td th:text="${item['value']}" />
						</tr>
					</th:block>
				</tbody>
				<thead>
					<tr>
						<th colspan="3" th:text="'Операции'"/>
						<th>
							<button th:name="'btnEdit'" th:value="3">Редактировать</button>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="'№'" />
						<td th:text="'Тип операции'" />
						<td th:text="'Оборудывание'" />
						<td th:text="'Время - Тшт, мин'" />
					</tr>
					<th:block th:if="${#lists.size(operations) == 0}">
						<tr>
							<td colspan="4" th:text="'-'">
						</tr>
					</th:block>	
					<th:block th:unless="${#lists.size(operations) == 0}" th:each="item, iterator : ${operations}">
						<tr>
							<td th:text="${iterator.count}" />
							<td th:text="${item.type.number}" />
							<td th:text="${item.equipment.number}" />
							<td th:text="${item.time}" />
						</tr>
					</th:block>	
				</tbody>
			</table>
			<br>
			<button th:name="'btnSave'">Сохранить в БД</button>

		</form>
		
	</body>
</html>


<!-- 



 -->