<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>TechDocsManager</title>
		<link th:href="@{/styles/style_00.css}" rel="stylesheet" />	
	</head>
	<body>
	
		<div align="center">
	
			<table style="width:100%; margin-bottom: 30px">
				<tr>
					<td width="15%" height="100px" rowspan="2">
						<form style="padding-left: 20px">
							<p>Роль: <span th:text="${role}"></span></p>
							<p>Пользователь: <span th:text="${userName}"></span></p>
							<p><a href="/logout">Сменить пользователя</a></p>
						</form>
					</td>
					<td height="100px" align="center">
						<nav class="main_menu">
							<span class="main_menu"><b><i>Элементы спецификации</i></b>&nbsp;&nbsp;&nbsp;</span>
							<span class="main_menu"><a href="/raw" class="top_menu">Заготовки</a>&nbsp;&nbsp;&nbsp;</span>
							<span class="main_menu"><a href="/route" class="top_menu">Маршруты</a>&nbsp;&nbsp;&nbsp;</span>
							<span class="main_menu"><a href="/product" class="top_menu">Продукция</a>&nbsp;&nbsp;&nbsp;</span>
							<span class="main_menu"><a href="/planning" class="top_menu">Планирование</a>&nbsp;&nbsp;&nbsp;</span>
						</nav>
					</td>
					<td width="15%" height="100px" rowspan="2"></td>
				</tr>
				<tr>
					<td align="center">
						<p class="top_menu">
							<span><a href="../../../" class="top_menu">Элементы спецификации</a> - </span>
							<span><a href="../../" class="top_menu">Покупные элементы</a> - </span>
							<span><a href="../" class="top_menu">Список для редактирования</a> - </span>  
							<span><b><i>Редактирование покупного элемента</i></b></span>
						</p>
					</td>
				</tr>
			</table>
			
			<br><br><br>
			<form th:method="'POST'" th:object="${item}">
				<table style="width:30%">
					<tbody>
						<tr>
							<td th:text="ID" width="40%"/>
							<td>
								<input type="hidden" th:field="*{id}" />
							</td>
						</tr>
						<tr>
							<td th:text="Обозначение" />
							<td>
								<input type="text" th:field="*{number}" style="width:70%"/>
							</td>
						</tr>
						<tr>
							<td th:text="Наименование" />
							<td>
								<input type="text" th:field="*{name}" style="width:70%"/>
							</td>
						</tr>
						<tr>
							<td th:text="'Производитель'" />
							<td>
								<input type="text" th:field="*{manufacturer}" style="width:70%"/>
							</td>
						</tr>
						<tr>
							<td align="center"><button th:name="'btnSave'">Сохранить</button></td>
							<td align="center"><button th:name="'btnCancel'">Отмена</button></td>
						</tr>
						<tr>
							<td colspan="2" align="center">Редактирование чертежа (в разработке)</td>
						</tr>
					</tbody>
				</table>
			</form>
			
		</div>
		
	</body>
</html>


<!-- 



 -->